@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: regular 400;
}

.resume{
  max-width: 800px;
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px 5px 5px #BDC8E9;
}

.photo{
  max-width: 143px;
  max-height: 143px;
  padding-left: 20px;
}

.photo img{
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.headerDetail img{
  max-width: 20px;
  max-height: 20px;
  box-sizing: content-box;
  padding-right: 7px;
}

.headerDetail h5{
  padding-left: 10px;
}

.headerDetail{
  display: flex;
  justify-content: space-around;
}


.header{
  background-color: #152F79;
  color: #ECEDF0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  padding-right: 70px;
}

.body-top{
  display: flex;
  justify-content: space-around;
  color: #152F79;
  
}

.body-right{
  color: #152F79;
  text-align: left;
  font-size: 15px;
  width: 65%;
  padding: 6px;
  padding-left: 10px;
  
}

.middleLine{
  min-width: 1px;
  background-color: #152F79;
  border: 2px solid #152F79;
  box-sizing: content-box;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.body-left{
  color: #152F79;
  text-align: left;
  font-size: 15px;
  width: 35%;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 6px;
}

.body-top .body-left ul{
  padding-left: 19px;
}

.body-top .body-right ul{
  padding-left: 19px;
}

.body-top .body-right h5{
  padding-top: 5px;
}

.body-bottom{
  color:  #152F79;
  text-align: left;
  box-sizing: content-box;
  padding-left: 15px;
}

.body-bottom h4{
  text-align: left;
  box-sizing: content-box;
  
}

.body-bottom a{
  text-decoration: none;
  color: #152F79;
  width: 50%;
  
}

.body-bottom h5{
  box-sizing: content-box;
  padding-top: 5px;
  align-content: left;
}

.body-bottom h5 img{
  box-sizing: content-box;
  height: 20px;
  width: 20px;
  padding-right: 7px;
}

.body-bottom ol{
  padding-left: 12px;
  font-size: 15px;
}

.body-bottom ol h5{
  font-size: 14px;
}

.body-bottom ol p{
  text-align: justify;
  padding-right: 10px;
}

.Footer{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.Footer button{
  height: 40px;
  width: 50px;
  background-color: #152F79;
  border-radius: 10px;
  color: #ECEDF0;
  font-size: 17px;
  font-weight: bold;
}

.Footer button:hover{
  box-sizing: content-box;
  margin-top: 2px;
  height: 35px;
  width: 45px;
}




@media screen and (max-width: 1092px) {
  .resume{
    width: 70%;
    margin: auto;
    box-shadow: 5px 5px 5px 5px #BDC8E9;
  }

  .header{
    background-color: #152F79;
    color: #ECEDF0;
    display:block;
    align-items: center;

  }
  .photo{
    max-width: 143px;
    max-height: 143px;
    width: 50%;
    margin: auto;
  }
  .headerDetails{
    width: 67%;
    margin: auto;
    box-sizing: content-box;
    padding-left: 40px;
  }
}

@media screen and (max-width: 760px) {
  .resume{
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 5px 5px #BDC8E9;
  }

  .header{
    background-color: #152F79;
    color: #ECEDF0;
    display:block;
    align-items: center;

  }
  .photo{
    max-width: 143px;
    max-height: 143px;
    width: 50%;
    margin: auto;
  }
  .headerDetails{
    width: 67%;
    margin: auto;
    box-sizing: content-box;
    padding-left: 40px;
  }
}

@media screen and (max-width: 540px) {
  .resume{
    width: 96%;
    box-shadow: 5px 5px 5px 5px #BDC8E9;
  }

  .header{
    background-color: #152F79;
    color: #ECEDF0;
    display:block;
    align-items: center;

  }
  .photo{
    max-width: 143px;
    max-height: 143px;
    width: 50%;
    margin: auto;
  }
  .headerDetails{
    width: 80%;
    margin: auto;
    box-sizing: content-box;
    padding-left: 40px;
  }
}

@media print {
  .resume{
    width: 100%;
    box-shadow: none;
  }

  .header{
    /*background-color: #152F79;*/
    color: #152F79;
    display:block;
    align-items: center;

  }
  .photo{
    max-width: 143px;
    max-height: 143px;
    width: 50%;
    margin: auto;
  }
  .headerDetails{
    width: 80%;
    margin: auto;
    box-sizing: content-box;
    padding-left: 40px;
  }

  .body-full .body-top{
    display: flex;
    flex-direction: column-reverse;
  }

  .body-full .middleLine{
    display: none;
  }

  .body-right{
    color: #152F79;
    text-align: left;
    font-size: 15px;
    width: 100%;
    padding: 6px;
    padding-left: 10px;
    text-align: justify;
    
  }

  .body-left{
    color: #152F79;
    text-align: left;
    font-size: 15px;
    width: 100%;
    padding-left: 15px;
    padding-right: 3px;
    padding-top: 6px;
    text-align: justify;
  }

  .Footer{
    display: none;
  }
}

