@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: regular 400;
}

.resume{
  max-width: 733px;
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px 5px 5px #BDC8E9;
}

.photo{
  max-width: 143px;
  max-height: 143px;
  padding-left: 20px;
}

.photo img{
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.header{
  background-color: #152F79;
  color: #ECEDF0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  padding-right: 70px;
}

.body{
  display: flex;
  justify-content: space-around;
  color: #152F79;
  
}

.body-right{
  border: 1px solid black;
  color: #152F79;
  text-align: left;
  font-size: 15px;
  width: 65%;
  padding: 4px;
}

.body-left{
  border: 1px solid blue;
  color: #152F79;
  text-align: left;
  font-size: 15px;
  width: 35%;
  padding: 4px;
}

.body .body-left ul{
  padding-left: 19px;
}

.body .body-right ul{
  padding-left: 19px;
}

.body .body-right h5{
  padding-top: 5px;
}


